{#
/**
 * @file
 * Default template with the blocksfor the solution of the test.
 *
 * Available variables (needed for the test):
 * - data_t2: The variable for the block solution_news. This variable contains a list
 *   of articles from a JSON format that needs to be rendered as requested.
 *   Each item inside data_t2 contains the following content:
 *   - id: the id of the article.
 *   - date: the date of the article.
 *   - title: the title of the article.
 *   - slug: the slug used for the url.
 *   - location: where rhe article happened.
 *   - text: long text with the HTML of the article.
 *   - images: array of images. Can be empty.
 * - data_t4: The variable for the block solution_accordion. This variable depends
 *   on the value returned in the function getDataT4() inside the TestController class.
 *   - If you have returned a string, data_t4 will be a string.
 *   - If you have returned an array, data_t4 will be a twig array containing all the
 *     keys as elements.
 * - data_t5: The variable for the block solution_table. This variable depends
 *   on the value returned in the function getDataT5() inside the TestController class.
 *   - If you have returned a string, data_t4 will be a string.
 *   - If you have returned an array, data_t4 will be a twig array containing all the
 *     keys as elements.
 *
 * Other variables availables:
 * - num_articles: The number of articles loaded and available in data_t2.
 * And any other variable from the parent templates.
 */
#}
{% extends 'front.twig' %}

{# This is the block for the solution of task 2 #}
{% block solution_news %}
    <div class="row">
        {% for article in data_t2|sort((a, b) => a.id < b.id)|slice(0,3) %}
            <div class="col p-2">
                <div class="card  p-1">
                    <img src="https://placehold.co/500x350" class="card-img-top" alt="...">
                    <div class="card-header p-2">
                        <h6 class="">{{ article.title }}</h6>
                        <small class="card-date"><i class="far fa-clock"></i> {{ article.date }}</small>
                    </div>
                    <div class="card-body p-2">
                        {% autoescape false %}
                            <p class="card-text text-justify"
                               style="font-size: 12px">{{ article.text|slice(0,250) ~ '...' }}</p>
                        {% endautoescape %}
                        <a href="article/{{ article.slug }}" class="btn btn-primary">Read Full Article</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{# This is the block for the solution of task 4 #}
{% block solution_accordion %}
    {#
    /**
     * parent() is only needed to show some temporal html.
     * Your solution does not require its use and you can delete it.
     */
    #}
    <div class="accordion" id="faq">
        {% for country,accordion in data_t4 %}
            <div class="card">
                <div class="card-header" id="accordion">
                    <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#{{ country }}"
                       aria-expanded="true" aria-controls="faq1" style="font-size: 12px;padding: 0px"><strong>
                            <span class="fi fi-{{ accordion|first.cc|lower }}"></span>
                            {{ country }} ({{ accordion|length }} sections)</strong></a>
                </div>

                <div id="{{ country }}" class="collapse " aria-labelledby="{{ country }}" data-parent="#accordion">
                    <div class="card-body">
                        {% for item in accordion %}
                            <p style="font-size: 12px;margin: 1px">{{ item.label }} ({{ item.code }}
                                ) {% if item.website %} <a href="{{ item.website }}"
                                                           target="_blank"><i
                                            class="fas fa-link"></i></a>  {% endif %}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {# </div>
    {% for accordion in data_t4 %}
        {{ accordion }}
    {% endfor %} #}

{% endblock %}

    {# This is the block for the solution of task 5 #}

    {% block solution_table %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Card Code</th>
                <th scope="col">Card Status</th>
                <th scope="col">Section Code</th>
                <th scope="col">Card Date</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data_t5 %}
                <tr>
                    <th scope="row">{{ item.card_code }}</th>
                    <td>{{ item.card_status }}</td>
                    <td>{{ item.section_code }}</td>
                    <td>{{ item.card_date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endblock %}
